<%= render partial: 'shared/menu', locals: { s: 'ranking' } %>
<h2>
  <i class="fa fa-trophy"></i>
  Ranking
</h2>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 col-lg-5 col-sm-6 col-12">
      <ul class="list-group">
        <% @users.each do |user| %>
          <% position = @points.index(user.points) %>
          <li class="list-group-item <%= 'active' if Current.user == user %>">
            <%= "#{position + 1}. " %>
            <%= link_to user.username, user_path(user) %>
            <strong class="float-right"><%= number_with_precision(user.points) %> (<%= "% 2d" % user.accuracy %> trafień)</strong>
            <div class="clearfix"></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>