= render partial: 'shared/menu', locals: { s: 'ranking' }
%h2 Ranking
%ul.list-group.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4.col-xs-12.col-xs-offset-0.col-sm-6.col-sm-offset-3.ranking
  - @users.each_with_index do |user,i|
    %li.list-group-item
      = "#{(@users.map(&:points).uniq.index(user.points) || 0) + 1}.  "
      = user.username
      %strong.pull-right= user.points
      .clearfix
