<%= render partial: 'shared/menu', locals: { s: 'users' } %>

<h2>
  <i class="fa fa-envelope-o"></i>
  Zaproszenia
</h2>

<div class="well bs-component">
  <%= form_for @user, url: users_path, html: {method: :post, class: 'form-horizontal'} do |f| %>
    <div class="form-group">
      <%= f.label :username, 'Login', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10"><%= f.text_field :username, class: 'form-control' %></div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit 'Generuj zaproszenie', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<h2>
  <i class="fa fa-users"></i>
  Lista użytkowników
</h2>

<div class="table-responsive">
  <table class="table table-hover table-striped" id="list-of-users">
    <thead>
    <th>#</th>
    <th>Nazwa użytkownika</th>
    <th>Zaproszony przez</th>
    <th>Stan konta</th>
    <th>Ustawienia</th>
    </thead>
    <tbody>
    <% User.includes(:invited_by).order(:username).each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= user.username %></td>
        <td><%= user.invited_by_username %></td>
        <td>
          <%= user_status(user) %>
          <%= link_to fin_user_path(user) do %>
            <%= user_fin(user) %>
          <% end %>
        </td>
        <td>
          <% if user != Current.user %>
            <%= link_to reset_button(), resend_invitation_user_path(user), data: { confirm: 'Czy na pewno chcesz wygenerować ponownie link z zaproszeniem?' } %>
            <%= link_to delete_button(), user_path(user), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć użytkownika?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
