<%= render partial: 'shared/menu', locals: { s: 'users' } %>
<h2>
  <i class="fa fa-futbol-o"></i>
  Głosy użytkownika <%= @user.username %>
</h2>
<h3>
  Liczba trafień: <%= @user.accuracy %>
</h3>
<h3>Szczegóły:</h3>
<div class="table-responsive">
  <% @matches_started.group_by(&:start_date).each do |start_date, games| %>
    <div class="card mb-3">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-lg-6 col-12">
            <strong>
              <%= l(start_date, format: :only_date) %>
            </strong>
          </div>
          <div class="col-lg-6 col-12"></div>
        </div>
      </div>
      <div class="card-body pb-0 pt-0 text-center">
        <ul class="list-group list-group-flush">
          <% games.each do |match| %>
            <li class="list-group-item pr-0 pl-0">
              <div class="row align-items-center">
                <div class="col-lg-1 col-3 align-middle pb-2 pt-2">
                  <%= l(match.start, format: :only_time) %>
                </div>
                <div class="col-lg-1 col-3 align-middle pb-2 pt-2">
                  <%= "#{match.result_a}:#{match.result_b}" %>
                </div>
                <div class="col-lg-4 col-6 align-middle pb-2 pt-2">
                  <%= link_to match_path(match) do %>
                    <%= match.team_a %>
                    -
                    <%= match.team_b %>
                  <% end %>
                </div>
                <div class="col-lg-6 col-12">
                  <%= turbo_frame_tag match do %>
                    <div class="row align-middle">
                      <div class="col-4 pb-2 pt-2">
                        <%= link_to set_type_match_path(match, result: 'win_a'), data: { turbo_method: :post }, class: "btn text-nowrap btn-sm btn-block #{(match.answers & @answers).first&.win_a? ? 'btn-info' : 'btn-outline-info'} #{'disabled' if match.started?}" do %>
                          <span class="float-left">1</span>
                          <span class="float-right font-weight-bold">
                          <%= (number_with_precision(match.win_a) || '---') %>
                        </span>
                          <div class="clearfix"></div>
                        <% end %>
                      </div>
                      <div class="col-4 pb-2 pt-2">
                        <%= link_to set_type_match_path(match, result: 'tie'), data: { turbo_method: :post }, class: "btn text-nowrap btn-sm btn-block #{(match.answers & @answers).first&.tie? ? 'btn-info' : 'btn-outline-info'} #{'disabled' if match.started?}" do %>
                          <span class="float-left">X</span>
                          <span class="float-right font-weight-bold">
                          <%= (number_with_precision(match.tie) || '---')  %>
                        </span>
                          <div class="clearfix"></div>
                        <% end %>
                      </div>
                      <div class="col-4 pb-2 pt-2">
                        <%= link_to set_type_match_path(match, result: 'win_b'), data: { turbo_method: :post }, class: "btn text-nowrap btn-sm btn-block #{(match.answers & @answers).first&.win_b? ? 'btn-info' : 'btn-outline-info'} #{'disabled' if match.started?}" do %>
                          <span class="float-left">2</span>
                          <span class="float-right font-weight-bold">
                          <%= (number_with_precision(match.win_b) || '---') %>
                        </span>
                          <div class="clearfix"></div>
                        <% end %>
                      </div>
                      <div class="col-4 pb-2 pt-2">
                        <%= link_to set_type_match_path(match, result: 'win_tie_a'), data: { turbo_method: :post }, class: "btn text-nowrap btn-sm btn-block #{(match.answers & @answers).first&.win_tie_a? ? 'btn-info' : 'btn-outline-info'} #{'disabled' if match.started?}" do %>
                          <span class="float-left">1X</span>
                          <span class="float-right font-weight-bold">
                          <%= (number_with_precision(match.win_tie_a) || '---') %>
                        </span>
                          <div class="clearfix"></div>
                        <% end %>
                      </div>
                      <div class="col-4 pb-2 pt-2">
                        <%= link_to set_type_match_path(match, result: 'win_tie_b'), data: { turbo_method: :post }, class: "btn text-nowrap btn-sm btn-block #{(match.answers & @answers).first&.win_tie_b? ? 'btn-info' : 'btn-outline-info'} #{'disabled' if match.started?}" do %>
                          <span class="float-left">X2</span>
                          <span class="float-right font-weight-bold">
                          <%= (number_with_precision(match.win_tie_b) || '---') %>
                        </span>
                          <div class="clearfix"></div>
                        <% end %>
                      </div>
                      <div class="col-4 pb-2 pt-2">
                        <%= link_to set_type_match_path(match, result: 'not_tie'), data: { turbo_method: :post }, class: "btn text-nowrap btn-sm btn-block #{(match.answers & @answers).first&.not_tie? ? 'btn-info' : 'btn-outline-info'} #{'disabled' if match.started?}" do %>
                          <span class="float-left">12</span>
                          <span class="float-right font-weight-bold">
                          <%= (number_with_precision(match.not_tie) || '---') %>
                        </span>
                          <div class="clearfix"></div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
</div>
