<%= render partial: 'shared/menu', locals: { s: 'users' } %>
<h2>
  <i class="fa fa-futbol-o"></i>
  Głosy użytkownika <%= @user.username %>
</h2>
<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <% @matches_started.group_by(&:start_date).each do |start_date, games| %>
      <thead>
      <tr>
        <th class="text-nowrap" colspan="3"><%= l(start_date, format: :only_date) %></th>
        <th class="col-xs-1 text-nowrap text-center">1</th>
        <th class="col-xs-1 text-nowrap text-center">X</th>
        <th class="col-xs-1 text-nowrap text-center">2</th>
        <th class="col-xs-1 text-nowrap text-center">1X</th>
        <th class="col-xs-1 text-nowrap text-center">X2</th>
        <th class="col-xs-1 text-nowrap text-center">12</th>
      </tr>
      </thead>
      <tbody>
      <% games.each do |match| %>
        <tr >
          <td class="col-xs-1 text-nowrap text-center">
            <%= l(match.start, format: :only_time) %>
          </td>
          <td class="col-xs-1 text-nowrap text-center"><%= "#{match.result_a}:#{match.result_b}" %></td>
          <td class="text-nowrap">
            <%= match.team_a %>
            -
            <%= match.team_b %>
          </td>
          <td class="col-xs-1 text-nowrap text-center <%= 'info' if (match.answers & @answers).first&.win_a? %>">
            <%= number_with_precision(match.win_a) || '---' %>
          </td>
          <td class="col-xs-1 text-nowrap text-center <%= 'info' if (match.answers & @answers).first&.tie? %>">
            <%= number_with_precision(match.tie) || '---' %>
          </td>
          <td class="col-xs-1 text-nowrap text-center <%= 'info' if (match.answers & @answers).first&.win_b? %>">
            <%= number_with_precision(match.win_b) || '---' %>
          </td>
          <td class="col-xs-1 text-nowrap text-center <%= 'info' if (match.answers & @answers).first&.win_tie_a? %>">
            <%= number_with_precision(match.win_tie_a) || '---' %>
          </td>
          <td class="col-xs-1 text-nowrap text-center <%= 'info' if (match.answers & @answers).first&.win_tie_b? %>">
            <%= number_with_precision(match.win_tie_b) || '---' %>
          </td>
          <td class="col-xs-1 text-nowrap text-center <%= 'info' if (match.answers & @answers).first&.not_tie? %>">
            <%= number_with_precision(match.not_tie) || '---' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    <% end %>
  </table>
</div>
</div>
