<% content_for :menu do %>
  <% if signed_in? %>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if s == 'info' %>">
          <%= link_to home_path do %>
            <i class="fa fa-info"></i>
            Informacje
          <% end %>
        </li>
        <li class="<%= 'active' if s == 'matches' %>">
          <%= link_to matches_path do %>
            <i class="fa fa-futbol-o"></i>
            Mecze
          <% end %>
        </li>
        <li class="<%= 'active' if s == 'ranking' %>">
          <%= link_to ranking_path do %>
            <i class="fa fa-trophy"></i>
            Ranking
          <% end %>
        </li>
        <% if can? :create, User %>
          <li class="<%= 'active' if s == 'invitation' %>">
            <%= link_to new_user_invitation_path do %>
              <i class="fa fa-envelope-o"></i>&nbsp;
              Zaproszenia
            <% end %>
          </li>
        <% end %>
        <% if can? :manage, Notification %>
          <li class="<%= 'active' if s == 'notification' %>">
            <%= link_to notifications_path do %>
              <i class="fa fa-exclamation-triangle"></i>
              Komunikaty
            <% end %>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to destroy_user_session_path, method: 'delete' do %>
            <i class="fa fa-sign-out"></i>
            <%= current_user.username %> - wyloguj się
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
<% end %>
