- content_for :menu do
  - if signed_in?
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li{:class => (s == 'info' ? 'active' : '')}
          = link_to home_path do
            %i.fa.fa-info
            Informacje
        %li{:class => (s == 'matches' ? 'active' : '')}
          = link_to matches_path do
            %i.fa.fa-futbol-o
            Mecze
        %li{:class => (s == 'ranking' ? 'active' : '')}
          = link_to ranking_path do
            %i.fa.fa-trophy
            Ranking
        - if current_user.admin?
          %li{:class => (s == 'invitation' ? 'active' : '')}
            = link_to new_user_invitation_path do
              %i.fa.fa-envelope-o
              %nbsp
              Zaproszenia
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to destroy_user_session_path, method: 'delete' do
            %i.fa.fa-sign-out
            = current_user.username
            \- wyloguj się
