= render partial: 'shared/menu', locals: { s: 'info' }
.row
  .col-lg-8
    %h2
      %i.fa.fa-info
      Informacje
    %p
      Cześć! Strona powstała by w gronie przyjaciół można było "potypować" wyniki nadchodzących meczów EURO 2020.
      System działa w podobny sposób co klasyczne zakłady bukmacherskie, z różnicą że tutaj dostaje się punkty za
      każdy dobrze wytypowany mecz.
    %p Dla każdego spotkania możemy wskazać jeden spośród 6 wyników:
    %p
      %dl.dl-horizontal
        %dt 1
        %dd wygrana pierwszej drużyny
        %dt X
        %dd remis
        %dt 2
        %dd wygrana drugiej drużyny
        %dt 1X
        %dd wygrana pierwszej drużyny lub remis
        %dt X2
        %dd wygrana drugiej drużyny lub remis
        %dt 12
        %dd wygrana którejś z drużyn (nie dojdzie do remisu)
    %p Po poprawnym wytypowaniu dostajemy punkty przypisane do zakładu który wybraliśmy.
    %p
      Możemy zmieniać typy do momentu rozpoczęcia spotkania. Gdy mecz się rozpocznie, widzimy typy wszystkich
      uczestników dla danego meczu. Nie możemy wtedy modyfikować swojego wyboru.
    %h3 Punktacje będą aktualizowane na bieżąco, każdego dnia w godzinach nocnych.

  .col-lg-4
    %h2
      %i.fa.fa-envelope
      Komentarze
    .well
      - if @comments.blank?
        %h3.panel-title brak komentarzy
      %ul.chat
        - @comments.each do |comment|
          %li.left.clearfix
            .chat-body.clearfix
              .header
                %strong.primary-font
                  = display_username(comment.username)
                  - unless comment.match.blank?
                    |
                    = link_to "#{(comment.match.team_a || '').first(3)}:#{(comment.match.team_b || '').first(3)}", match_path(comment.match)
                %small.pull-right.text-muted= l(comment.created_at, format: :short)
              %p= comment.content
              - unless comment.match.blank?
                .text-right= link_to 'czytaj dalej', match_path(comment.match, anchor: comment.id)
