<%= render partial: 'shared/menu', locals: { s: 'info' } %>

<div class="row">
  <div class="col-lg-8">
    <h2>
      <i class="fa fa-info"></i>
      Informacje
    </h2>
    <p>
      Cześć! Strona powstała by w gronie przyjaciół można było "potypować" wyniki nadchodzących meczów MŚ 2022.
      System działa w podobny sposób co klasyczne zakłady bukmacherskie, z różnicą że tutaj dostaje się punkty za
      każdy dobrze wytypowany mecz.
    </p>
    <p>Dla każdego spotkania możemy wskazać jeden spośród 6 wyników:</p>
    <p>
      <dl class="dl-horizontal">
        <dt>1</dt>
        <dd>wygrana pierwszej drużyny</dd>
        <dt>X</dt>
        <dd>remis</dd>
        <dt>2</dt>
        <dd>wygrana drugiej drużyny</dd>
        <dt>1X</dt>
        <dd>wygrana pierwszej drużyny lub remis</dd>
        <dt>X2</dt>
        <dd>wygrana drugiej drużyny lub remis</dd>
        <dt>12</dt>
        <dd>wygrana którejś z drużyn (nie dojdzie do remisu)</dd>
      </dl>
    </p>
    <p>Po poprawnym wytypowaniu dostajemy punkty przypisane do zakładu który wybraliśmy.</p>
    <p>
      Możemy zmieniać typy do momentu rozpoczęcia spotkania. Gdy mecz się rozpocznie, widzimy typy wszystkich
      uczestników dla danego meczu. Nie możemy wtedy modyfikować swojego wyboru.
    </p>
    <p>
      <strong>UWAGA!</strong>
      W meczach fazy pucharowej typujemy wyniki tylko do 90 minuty spotkania.
      Czyli typ "remis" jest jak najbardziej poprawny.
      Oznaczać to będzie że drużyny po zagraniu przepisowych 90 minut będą miały dogrywkę.
    </p>
    <h3>Punktacje będą aktualizowane na bieżąco, każdego dnia w godzinach nocnych.</h3>
  </div>

  <div class="col-lg-4">
    <h2>
      <i class="fa fa-envelope"></i>
      Komentarze
    </h2>
    <div class="well">
      <% if @comments.blank? %>
        <h3 class="panel-title">brak komentarzy</h3>
      <% end %>
      <ul class="chat">
        <% @comments.each do |comment| %>
          <li class="left clearfix">
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">
                  <%= display_username(comment.username) %>
                  <% unless comment.match.blank? %>
                    |
                    <%= link_to "#{(comment.match.team_a || '').first(3)}:#{(comment.match.team_b || '').first(3)}", match_path(comment.match) %>
                  <% end %>
                </strong>
                <small class="pull-right text-muted"><%= l(comment.created_at, format: :short) %></small>
              </div>
              <p><%= comment.content %></p>
              <% unless comment.match.blank? %>
                <div class="text-right"><%= link_to 'czytaj dalej', match_path(comment.match, anchor: comment.id) %></div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
