= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put, class: 'form-signin' } do |f|
  %h2.form-signin-heading.text-muted Ustaw hasło

  %h3
    Cześć 
    = resource.username

  = f.hidden_field :invitation_token

  = f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: true, tabindex: 1
  = f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', placeholder: true, tabindex: 2
  = f.submit 'Zapisz hasło', class: 'btn btn-primary btn-block', tabindex: 3
