= render :partial => "shared/menu", :locals => { :s => "invitation" }
%h2 Zaproszenia

%center
= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
  = devise_error_messages!
  - resource.class.invite_key_fields.each do |field|
    = f.label :username, "Login"
    = f.text_field :username

    = f.submit "Generuj zaproszenie"
