= form_for @match, html: { class: 'form-horizontal' }, remote: request.xhr? do |f|
  %fieldset
    .form-group
      = f.label :team_a, 'Drużyna 1', class: 'col-lg-2 control-label'
      .col-lg-10= f.text_field :team_a, class: 'form-control'
    .form-group
      = f.label :team_b, 'Drużyna 2', class: 'col-lg-2 control-label'
      .col-lg-10= f.text_field :team_b, class: 'form-control'
    .form-group
      = f.label :win_a, 'Kursy', class: 'col-lg-2 control-label'
      .col-lg-10.form-inline
        .input-group
          %span.input-group-addon 1
          = f.number_field :win_a, step: 0.01, min: 0, class: 'form-control', size: 5, disabled: @match.started? && @match.persisted?
        .input-group
          %span.input-group-addon X
          = f.number_field :tie, step: 0.01, min: 0, class: 'form-control', size: 5, disabled: @match.started? && @match.persisted?
        .input-group
          %span.input-group-addon 2
          = f.number_field :win_b, step: 0.01, min: 0, class: 'form-control', size: 5, disabled: @match.started? && @match.persisted?
        .input-group
          %span.input-group-addon 1X
          = f.number_field :win_tie_a, step: 0.01, min: 0, class: 'form-control', size: 5, disabled: @match.started? && @match.persisted?
        .input-group
          %span.input-group-addon X2
          = f.number_field :win_tie_b, step: 0.01, min: 0, class: 'form-control', size: 5, disabled: @match.started? && @match.persisted?
        .input-group
          %span.input-group-addon 12
          = f.number_field :not_tie, step: 0.01, min: 0, class: 'form-control', size: 5, disabled: @match.started? && @match.persisted?
    .form-group
      = f.label :start, 'Data rozpoczęcia', class: 'col-lg-2 control-label'
      .col-lg-10= f.datetime_select :start, class: 'form-control', disabled: @match.started? && @match.persisted?
    %hr
    .form-group
      = f.label :result_a, 'Wyniki', class: 'col-lg-2 control-label'
      .col-lg-10.form-inline
        .input-group
          %span.input-group-addon Drużyna 1
          = f.number_field :result_a, step: 1, min: 0, class: 'form-control', size: 5, disabled: !@match.started? && @match.persisted?
        .input-group
          %span.input-group-addon Drużyna 2
          = f.number_field :result_b, step: 1, min: 0, class: 'form-control', size: 5, disabled: !@match.started? && @match.persisted?
    .form-group
      .col-lg-10.col-lg-offset-2
        = link_to 'Anuluj', matches_path, class: 'btn btn-default', 'data-dismiss' => 'modal'
        = f.submit 'Zapisz', class: 'btn btn-primary', data: { disable_with: 'Zapisuję ...' }
