<% if matches.empty? %>
  <div class="text-center">Brak meczy</div>
<% else %>
  <% matches.group_by(&:start_date).each do |start_date, games| %>
    <div class="card mb-3">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-lg-6 col-12">
            <strong>
              <%= l(start_date, format: :only_date) %>
            </strong>
          </div>
          <div class="col-lg-6 col-12"></div>
        </div>
      </div>
      <div class="card-body pb-0 pt-0 text-center">
        <ul class="list-group list-group-flush">
          <% games.each do |match| %>
            <li class="list-group-item pr-0 pl-0">
              <div class="row align-items-center">
                <div class="col-lg-1 col-3 align-middle pb-2 pt-2">
                  <%= l(match.start, format: :only_time) %>
                </div>
                <div class="col-lg-1 col-3 align-middle pb-2 pt-2">
                  <%= "#{match.result_a}:#{match.result_b}" %>
                </div>
                <div class="col-lg-4 col-6 align-middle pb-2 pt-2">
                  <%= link_to match_path(match) do %>
                    <%= match.team_a %>
                    -
                    <%= match.team_b %>
                  <% end %>
                </div>
                <div class="col-lg-6 col-12">
                  <%= render partial: "buttons", locals: { match: match, answer: (match.answers & @answers).first } %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
