.table-responsive
  %table.table.table-striped.table-hover.table-bordered
    %thead
      %tr
        %th Godz.
        %th Wynik
        %th 1
        %th 2
        %th.text-center 1
        %th.text-center X
        %th.text-center 2
        %th.text-center 1X
        %th.text-center X2
        %th.text-center 12
    %tbody
      - matches.each do |match|
        %tr.clickable-row{data: {href: match_path(match)}}
          %td= l(match.start, format: :short)
          %td.text-center= "#{match.result_a}:#{match.result_b}"
          %td= match.team_a
          %td= match.team_b
          %td.text-center{class: (match.answers & @answers).first.try(:win_a?) ? 'info' : ''}= match.win_a
          %td.text-center{class: (match.answers & @answers).first.try(:tie?) ? 'info' : ''}= match.tie
          %td.text-center{class: (match.answers & @answers).first.try(:win_b?) ? 'info' : ''}= match.win_b
          %td.text-center{class: (match.answers & @answers).first.try(:win_tie_a?) ? 'info' : ''}= match.win_tie_a
          %td.text-center{class: (match.answers & @answers).first.try(:win_tie_b?) ? 'info' : ''}= match.win_tie_b
          %td.text-center{class: (match.answers & @answers).first.try(:not_tie?) ? 'info' : ''}= match.not_tie