- if matches.empty?
  .text-center Brak meczy
- else
  .table-responsive
    %table.table.table-striped.table-hover.table-bordered
      %thead
        %tr
          %th.col-xs-1.nowrap Godz.
          %th.col-xs-1.nowrap Wynik
          %th 1
          %th 2
          %th.col-xs-1.nowrap.text-center 1
          %th.col-xs-1.nowrap.text-center X
          %th.col-xs-1.nowrap.text-center 2
          %th.col-xs-1.nowrap.text-center 1X
          %th.col-xs-1.nowrap.text-center X2
          %th.col-xs-1.nowrap.text-center 12
      %tbody
        - matches.each do |match|
          %tr.clickable-row{data: {href: match_path(match)}}
            %td.nowrap= l(match.start, format: :short)
            %td.nowrap.text-center= "#{match.result_a}:#{match.result_b}"
            %td= match.team_a
            %td= match.team_b
            %td.nowrap.text-center{class: (match.answers & @answers).first.try(:win_a?) ? 'info' : ''}= match.win_a
            %td.nowrap.text-center{class: (match.answers & @answers).first.try(:tie?) ? 'info' : ''}= match.tie
            %td.nowrap.text-center{class: (match.answers & @answers).first.try(:win_b?) ? 'info' : ''}= match.win_b
            %td.nowrap.text-center{class: (match.answers & @answers).first.try(:win_tie_a?) ? 'info' : ''}= match.win_tie_a
            %td.nowrap.text-center{class: (match.answers & @answers).first.try(:win_tie_b?) ? 'info' : ''}= match.win_tie_b
            %td.nowrap.text-center{class: (match.answers & @answers).first.try(:not_tie?) ? 'info' : ''}= match.not_tie