= render :partial => "shared/menu", :locals => { :s => "matches" }
%h2 Edycja meczu
= form_for @match do |f|
  %table
    %tr
      %th 1
      %td= f.text_field :teamA
      %th Wynik
      %td= f.text_field :resultA
    %tr
      %th 2
      %td= f.text_field :teamB
      %th Wynik
      %td= f.text_field :resultB
    %tr
      %th 1
      %td= f.text_field :winA, :disabled => @match.started? ? true : false
    %tr
      %th X
      %td= f.text_field :tie, :disabled => @match.started? ? true : false
    %tr
      %th 2
      %td= f.text_field :winB, :disabled => @match.started? ? true : false
    %tr
      %th 1X
      %td= f.text_field :winTieA, :disabled => @match.started? ? true : false
    %tr
      %th X2
      %td= f.text_field :winTieB, :disabled => @match.started? ? true : false
    %tr
      %th 12
      %td= f.text_field :NotTie, :disabled => @match.started? ? true : false
  %br
  = f.submit "Zapisz"
