<%= render partial: 'shared/menu', locals: { s: 'matches' } %>
<h2>
  <i class="fa fa-futbol-o"></i>
  Mecze
</h2>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <%= link_to '#future', class: "nav-link #{'active'}", aria: { controls: 'future' }, role: 'tab', data: { toggle: 'tab' } do %>
      <span class="badge badge-primary"><%= @matches_future.size %></span>
      Przyszłe
    <% end %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to '#finished', class: 'nav-link', aria: { controls: 'finished' }, role: 'tab', data: { toggle: 'tab' } do %>
      <span class="badge badge-primary"><%= @matches_started.size %></span>
      Zakończone i trwające
    <% end %>
  </li>
</ul>

<div class="tab-content">
  <div id="future" class="tab-pane fade show <%= 'active'%>" role="tabpanel">
    <h4 class="m-3">Spotkania które się jeszcze nie rozpoczęły:</h4>
    <%= render partial: 'matches', locals: { matches: @matches_future } %>
  </div>
  <div id="finished" class="tab-pane fade" role="tabpanel">
    <h4 class="m-3">Zakończone i trwające spotkania:</h4>
    <%= render partial: 'matches', locals: { matches: @matches_started } %>
  </div>
</div>
