<%= render partial: 'shared/menu', locals: { s: 'matches' } %>
<h2>
  <i class="fa fa-futbol-o"></i>
  Mecze
</h2>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="<%= 'active' if @matches_pending.size > 0 %>">
    <%= link_to '#pending', aria: { controls: 'pending' }, role: 'tab', data: { toggle: 'tab' } do %>
      <span class="badge"><%= @matches_pending.size %></span>
      Trwające
    <% end %>
  </li>
  <li role="presentation" class="<%= 'active' if @matches_pending.size == 0 %>">
    <%= link_to '#future', aria: { controls: 'future' }, role: 'tab', data: { toggle: 'tab' } do %>
      <span class="badge"><%= @matches_future.size %></span>
      Przyszłe
    <% end %>
  </li>
  <li role="presentation">
    <%= link_to '#finished', aria: { controls: 'finished' }, role: 'tab', data: { toggle: 'tab' } do %>
      <span class="badge"><%= @matches_finished.size %></span>
      Zakończone
    <% end %>
  </li>
</ul>

<div class="tab-content">
  <div id="pending" class="tab-pane fade <%= 'in active' if @matches_pending.size > 0 %>" role="tabpanel">
    <h3>Aktualnie trwające spotkania:</h3>
    <%= render partial: 'matches', locals: { matches: @matches_pending } %>
  </div>
  <div id="future" class="tab-pane fade <%= 'in active' if @matches_pending.size == 0 %>" role="tabpanel">
    <h3>Spotkania które się jeszcze nie rozpoczęły:</h3>
    <%= render partial: 'matches', locals: { matches: @matches_future } %>
  </div>
  <div id="finished" class="tab-pane fade" role="tabpanel">
    <h3>Zakończone spotkania:</h3>
    <%= render partial: 'matches', locals: { matches: @matches_finished } %>
  </div>
</div>
