= render :partial => "shared/menu", :locals => { :s => "matches" }
%h2 Mecze
- if current_user.admin?
  .text-align-right
    = link_to new_match_path, :class => "btn btn-primary" do
      Dodaj mecz
- unless @matchesFinished.blank?
  %h3 Zakończone spotkania:
  = render :partial => "matches", :locals => { :matches => @matchesFinished }
- unless @matchesPending.blank?
  %h3 Aktualnie trwające spotkania:
  = render :partial => "matches", :locals => { :matches => @matchesPending }
- unless @matchesFuture.blank?
  %h3 Spotkania które się jeszcze nie rozpoczęły:
  = render :partial => "matches", :locals => { :matches => @matchesFuture }
