= render :partial => "shared/menu", :locals => { :s => "matches" }
= paginate_rounds(@round)
- if current_user.admin?
  .pull-right
    = link_to polymorphic_path([@round, :match], :action => :new), :class => "btn btn-primary", :remote => true, "data-toggle" => "modal", "data-target" => "#myModal" do
      Dodaj mecz
%h2 Mecze
- unless @matchesFinished.blank?
  %h3 Zakończone spotkania:
  = render :partial => "/matches/matches", :locals => { :matches => @matchesFinished }
- unless @matchesPending.blank?
  %h3 Aktualnie trwające spotkania:
  = render :partial => "/matches/matches", :locals => { :matches => @matchesPending }
- unless @matchesFuture.blank?
  %h3 Spotkania które się jeszcze nie rozpoczęły:
  = render :partial => "/matches/matches", :locals => { :matches => @matchesFuture }
- if @matchesFinished.blank? && @matchesPending.blank? && @matchesFuture.blank?
  .text-center Brak meczy
