= render partial: 'shared/menu', locals: { s: 'matches' }
- if current_user.admin?
  .pull-right
    = link_to new_match_path, class: 'btn btn-primary', remote: true, 'data-toggle' => 'modal', 'data-target' => '#myModal' do
      Dodaj mecz
%h2 Mecze
- unless @matches_finished.blank?
  %h3 Zakończone spotkania:
  = render partial: 'matches', locals: { matches: @matches_finished }
- unless @matches_pending.blank?
  %h3 Aktualnie trwające spotkania:
  = render partial: 'matches', locals: { matches: @matches_pending }
- unless @matches_future.blank?
  %h3 Spotkania które się jeszcze nie rozpoczęły:
  = render partial: 'matches', locals: { matches: @matches_future }
- if @matches_finished.blank? && @matches_pending.blank? && @matches_future.blank?
  .text-center Brak meczy
