= render :partial => "shared/menu", :locals => { :s => "matches" }
- if current_user.admin?
  .text-right
    = link_to "Edytuj", edit_match_path(@match), :class => "btn btn-primary"
    %br
    %br
.row
  .col-lg-8
    %h2 Twój typ meczu
    - unless @match.started?
      Wybierz swój typ, klikając w punkty:
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Godz.
          %th Wynik
          %th 1
          %th 2
          %th.text-center 1
          %th.text-center X
          %th.text-center 2
          %th.text-center 1X
          %th.text-center X2
          %th.text-center 12
      %tbody
        %tr
          %td= I18n.l(@match.start, :format => :short)
          %td.text-center= @match.resultA.to_s + ":" + @match.resultB.to_s
          %td= @match.teamA
          %td= @match.teamB
          %td.text-center{:class => (@answer.result == 0 ? "info" : "")}
            = link_to_unless @match.started? || @answer.result == 0, @match.winA || "", set_type_match_path(@match, :result => 0) , :confirm => "Czy na pewno chcesz wytypować zwycięstwo drużyny 1?"
          %td.text-center{:class => (@answer.result == 1 ? "info" : "")}
            = link_to_unless @match.started? || @answer.result == 1, @match.tie || "", set_type_match_path(@match, :result => 1) , :confirm => "Czy na pewno chcesz wytypować remis?"
          %td.text-center{:class => (@answer.result == 2 ? "info" : "")}
            = link_to_unless @match.started? || @answer.result == 2, @match.winB || "", set_type_match_path(@match, :result => 2) , :confirm => "Czy na pewno chcesz wytypować zwycięstwo drużyny 2?"
          %td.text-center{:class => (@answer.result == 3 ? "info" : "")}
            = link_to_unless @match.started? || @answer.result == 3, @match.winTieA || "", set_type_match_path(@match, :result => 3) , :confirm => "Czy na pewno chcesz wytypować zwycięstwo drużyny 1 lub remis?"
          %td.text-center{:class => (@answer.result == 4 ? "info" : "")}
            = link_to_unless @match.started? || @answer.result == 4, @match.winTieB || "", set_type_match_path(@match, :result => 4) , :confirm => "Czy na pewno chcesz wytypować zwycięstwo drużyny 2 lub remis?"
          %td.text-center{:class => (@answer.result == 5 ? "info" : "")}
            = link_to_unless @match.started? || @answer.result == 5, @match.NotTie || "", set_type_match_path(@match, :result => 5) , :confirm => "Czy na pewno chcesz wytypować zwycięstwo którejkolwiek drużyny (brak remisu)?"

    - if @match.started?
      %br
      %h2 Typy uczestników
      %table.table.table-striped.table-hover.table-bordered.text-center
        %thead
          %tr
            %th
            %th.text-center 1
            %th.text-center X
            %th.text-center 2
            %th.text-center 1X
            %th.text-center X2
            %th.text-center 12
        %tbody
          - @answers.each do |answer|
            %tr
              %td= answer.user.username
              %td{:class => (answer.result == 0 ? "info" : "")}
              %td{:class => (answer.result == 1 ? "info" : "")}
              %td{:class => (answer.result == 2 ? "info" : "")}
              %td{:class => (answer.result == 3 ? "info" : "")}
              %td{:class => (answer.result == 4 ? "info" : "")}
              %td{:class => (answer.result == 5 ? "info" : "")}
              
  .col-lg-4
    %h2 Wiadomości
    .well
      = form_for @comment do |f|
        = f.hidden_field :user_id
        = f.hidden_field :match_id
        .input-group
          = f.text_field :content, :class => "form-control input-sm", :placeholder => "Wyślij wiadomość ..."
          %span.input-group-btn
            = f.submit "Wyślij", :class => "btn btn-warning btn-sm"
    .well
      - if @match.comments.blank?
        %h3.panel-title brak wiadomości
      %ul.chat
        - @match.comments.order("created_at DESC").each do |comment|
          %li.left.clearfix
            = link_to '', {}, {:name => comment.id}
            .chat-body.clearfix
              .header
                %strong.primary-font= comment.username
                %small.pull-right.text-muted= I18n.l(comment.created_at, :format => :short)
              %p= comment.content
