= render partial: 'shared/menu', locals: { s: 'matches' }
- if can? :update, @match
  %p.text-right= link_to 'Edytuj', edit_match_path(@match), class: 'btn btn-primary', remote: true, data: { toggle: 'modal', target: '#myModal' }

.row
  .col-lg-8
    %h2
      %i.fa.fa-user
      Twój typ
    - unless @match.started?
      Wybierz swój typ, klikając w punkty:
    #my-bet.table-responsive
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th.col-xs-1.nowrap Godz.
            %th.col-xs-1.nowrap Wynik
            %th 1
            %th 2
            %th.col-xs-1.nowrap.text-center 1
            %th.col-xs-1.nowrap.text-center X
            %th.col-xs-1.nowrap.text-center 2
            %th.col-xs-1.nowrap.text-center 1X
            %th.col-xs-1.nowrap.text-center X2
            %th.col-xs-1.nowrap.text-center 12
        %tbody
          %tr
            %td.col-xs-1.nowrap= l(@match.start, format: :short)
            %td.col-xs-1.nowrap.text-center= "#{@match.result_a}:#{@match.result_b}"
            %td= @match.team_a
            %td= @match.team_b
            %td.col-xs-1.nowrap.text-center.win_a{class: ('info' if @answer.win_a?)}
              = link_to_unless @match.started? || @answer.win_a?, number_with_precision(@match.win_a) || fa_icon('question'), set_type_match_path(@match, result: 'win_a') , data: { confirm: 'Czy na pewno chcesz wytypować zwycięstwo drużyny 1?' }
            %td.col-xs-1.nowrap.text-center.tie{class: ('info' if @answer.tie?)}
              = link_to_unless @match.started? || @answer.tie?, number_with_precision(@match.tie) || fa_icon('question'), set_type_match_path(@match, result: 'tie') , data: { confirm: 'Czy na pewno chcesz wytypować remis?' }
            %td.col-xs-1.nowrap.text-center.win_b{class: ('info' if @answer.win_b?)}
              = link_to_unless @match.started? || @answer.win_b?, number_with_precision(@match.win_b) || fa_icon('question'), set_type_match_path(@match, result: 'win_b') , data: { confirm: 'Czy na pewno chcesz wytypować zwycięstwo drużyny 2?' }
            %td.col-xs-1.nowrap.text-center.win_tie_a{class: ('info' if @answer.win_tie_a?)}
              = link_to_unless @match.started? || @answer.win_tie_a?, number_with_precision(@match.win_tie_a) || fa_icon('question'), set_type_match_path(@match, result: 'win_tie_a') , data: { confirm: 'Czy na pewno chcesz wytypować zwycięstwo drużyny 1 lub remis?' }
            %td.col-xs-1.nowrap.text-center.win_tie_b{class: ('info' if @answer.win_tie_b?)}
              = link_to_unless @match.started? || @answer.win_tie_b?, number_with_precision(@match.win_tie_b) || fa_icon('question'), set_type_match_path(@match, result: 'win_tie_b') , data: { confirm: 'Czy na pewno chcesz wytypować zwycięstwo drużyny 2 lub remis?' }
            %td.col-xs-1.nowrap.text-center.not_tie{class: ('info' if @answer.not_tie?)}
              = link_to_unless @match.started? || @answer.not_tie?, number_with_precision(@match.not_tie) || fa_icon('question'), set_type_match_path(@match, result: 'not_tie') , data: { confirm: 'Czy na pewno chcesz wytypować zwycięstwo którejkolwiek drużyny (brak remisu)?' }

    - if @match.started?
      %h2
        %i.fa.fa-users
        Typy uczestników
      #others-bets.table-responsive
        %table.table.table-striped.table-hover.table-bordered.text-center
          %thead
            %tr
              %th
              %th.text-center 1
              %th.text-center X
              %th.text-center 2
              %th.text-center 1X
              %th.text-center X2
              %th.text-center 12
          %tbody
            - @users.each do |user|
              - if @answers[user.id].blank?
                %tr
                  %td.nowrap= user.username
                  %td.col-xs-6.nowrap{colspan: 6} brak typu
              - else
                %tr
                  %td.nowrap= user.username
                  %td.col-xs-1.nowrap{class: ('info' if @answers[user.id].win_a?)}
                    = '1' if @answers[user.id].win_a?
                  %td.col-xs-1.nowrap{class: ('info' if @answers[user.id].tie?)}
                    = 'X' if @answers[user.id].tie?
                  %td.col-xs-1.nowrap{class: ('info' if @answers[user.id].win_b?)}
                    = '2' if @answers[user.id].win_b?
                  %td.col-xs-1.nowrap{class: ('info' if @answers[user.id].win_tie_a?)}
                    = '1X' if @answers[user.id].win_tie_a?
                  %td.col-xs-1.nowrap{class: ('info' if @answers[user.id].win_tie_b?)}
                    = 'X2' if @answers[user.id].win_tie_b?
                  %td.col-xs-1.nowrap{class: ('info' if @answers[user.id].not_tie?)}
                    = '12' if @answers[user.id].not_tie?
              
  .col-lg-4
    %h2
      %i.fa.fa-envelope
      Komentarze
    .well
      = form_for @comment do |f|
        = f.hidden_field :match_id
        .input-group
          = f.text_field :content, class: 'form-control input-sm', placeholder: 'Wyślij wiadomość ...'
          %span.input-group-btn
            = f.submit 'Wyślij', class: 'btn btn-warning btn-sm'
    .well
      - if @match.comments.empty?
        %h3.panel-title brak komentarzy
      %ul.chat
        - @match.comments.includes(:user).each do |comment|
          %li.left.clearfix
            = link_to '', {}, {name: comment.id}
            .chat-body.clearfix
              .header
                %strong.primary-font= display_username(comment.username)
                %small.pull-right.text-muted= l(comment.created_at, format: :short)
              %p= h comment.content
