= render :partial => "shared/menu", :locals => { :s => "matches" }
%h2 Twój typ meczu
- unless @match.started?
  %h3 Wybierz swój typ, klikając w punkty:
%table
  %tr
    %th Godz.
    %th Wynik
    %th 1
    %th 2
    %th 1
    %th X
    %th 2
    %th 1X
    %th X2
    %th 12
  %tr
    %td= I18n.l(@match.start, :format => :short)
    %td= @match.resultA.to_s + ":" + @match.resultB.to_s
    %td= @match.teamA
    %td= @match.teamB
    %td{:class => (@answer.result == 0 ? "chosen" : "")}
      - unless @match.started?
        = link_to @match.winA || "", set_type_match_path(@match, :result => 0) , :confirm => "Czy na pewno chcesz wytypować zwycięstwo drużyny 1?"
      - else
        = @match.winA
    %td{:class => (@answer.result == 1 ? "chosen" : "")}
      - unless @match.started?
        = link_to @match.tie || "", set_type_match_path(@match, :result => 1) , :confirm => "Czy na pewno chcesz wytypować remis?"
      - else
        = @match.tie
    %td{:class => (@answer.result == 2 ? "chosen" : "")}
      - unless @match.started?
        = link_to @match.winB || "", set_type_match_path(@match, :result => 2) , :confirm => "Czy na pewno chcesz wytypować zwycięstwo drużyny 2?"
      - else
        = @match.winB
    %td{:class => (@answer.result == 3 ? "chosen" : "")}
      - unless @match.started?
        = link_to @match.winTieA || "", set_type_match_path(@match, :result => 3) , :confirm => "Czy na pewno chcesz wytypować zwycięstwo drużyny 1 lub remis?"
      - else
        = @match.winTieA
    %td{:class => (@answer.result == 4 ? "chosen" : "")}
      - unless @match.started?
        = link_to @match.winTieB || "", set_type_match_path(@match, :result => 4) , :confirm => "Czy na pewno chcesz wytypować zwycięstwo drużyny 2 lub remis?"
      - else
        = @match.winTieB
    %td{:class => (@answer.result == 5 ? "chosen" : "")}
      - unless @match.started?
        = link_to @match.NotTie || "", set_type_match_path(@match, :result => 5) , :confirm => "Czy na pewno chcesz wytypować zwycięstwo którejkolwiek drużyny (brak remisu)?"
      - else
        = @match.NotTie

- if @match.started?
  %br
  %h2 Typy uczestników
  %table
    %tr
      %th
      %th 1
      %th X
      %th 2
      %th 1X
      %th X2
      %th 12
    - @answers.each do |answer|
      %tr
        %td= answer.user.username
        %td{:class => (answer.result == 0 ? "chosen" : "")}
        %td{:class => (answer.result == 1 ? "chosen" : "")}
        %td{:class => (answer.result == 2 ? "chosen" : "")}
        %td{:class => (answer.result == 3 ? "chosen" : "")}
        %td{:class => (answer.result == 4 ? "chosen" : "")}
        %td{:class => (answer.result == 5 ? "chosen" : "")}
          
%br
%h2 Wolne rozmowy
#comments
  - @match.comments.order(:created_at).each do |comment|
    %dl{:id => "status"}
      %dt.bold= comment.username
      %dd{:style => "margin-bottom:3px"}
        |
        = I18n.l(comment.created_at, :format => :short)
      %hr{:style => "margin:4px 0"}
      %dd{:style => "color:#656565"}= comment.content

%p
  = form_for @comment do |f|
    = f.hidden_field :user_id
    = f.hidden_field :match_id
    = f.text_area :content
    %br
    = f.submit "Dodaj komentarz"
