<%= render partial: 'shared/menu', locals: { s: 'matches' } %>
<% if can? :update, @match %>
  <p class="text-right"><%= link_to 'Edytuj', edit_match_path(@match), class: 'btn btn-primary', remote: true, data: { toggle: 'modal', target: '#myModal' } %></p>
<% end %>

<div class="row">
  <div class="col-lg-8">
    <h3 class="m-2">
      <i class="fa fa-user"></i>
      Twój typ
    </h3>
    <% unless @match.started? %>
      Wybierz swój typ, klikając w punkty:
    <% end %>
    <div id="my-bet" class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
        <tr class="text-nowrap">
          <th class="col-1">Godz.</th>
          <th class="col-1">Wynik</th>
          <th></th>
          <th class="col-1 text-center">1</th>
          <th class="col-1 text-center">X</th>
          <th class="col-1 text-center">2</th>
          <th class="col-1 text-center">1X</th>
          <th class="col-1 text-center">X2</th>
          <th class="col-1 text-center">12</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center align-middle text-nowrap">
          <td class="col-1">
            <%= l(@match.start, format: :short) %>
          </td>
          <td class="col-1">
            <%= "#{@match.result_a}:#{@match.result_b}" %>
          </td>
          <td>
            <%= @match.team_a %>
            -
            <%= @match.team_b %>
          </td>
          <td class="col-1">
            <%= link_to (number_with_precision(@match.win_a) || '---'), set_type_match_path(@match, result: 'win_a'), class: "btn btn-sm btn-block #{@answer.win_a? ? 'btn-info' : 'btn-outline-info'} #{'disabled' if @match.started?}" %>
          </td>
          <td class="col-1">
            <%= link_to (number_with_precision(@match.tie) || '---'), set_type_match_path(@match, result: 'tie'), class: "btn btn-sm btn-block #{@answer.tie? ? 'btn-info' : 'btn-outline-info'} #{'disabled' if @match.started?}" %>
          </td>
          <td class="col-1">
            <%= link_to (number_with_precision(@match.win_b) || '---'), set_type_match_path(@match, result: 'win_b'), class: "btn btn-sm btn-block #{@answer.win_b? ? 'btn-info' : 'btn-outline-info'} #{'disabled' if @match.started?}" %>
          </td>
          <td class="col-1">
            <%= link_to (number_with_precision(@match.win_tie_a) || '---'), set_type_match_path(@match, result: 'win_tie_a'), class: "btn btn-sm btn-block #{@answer.win_tie_a? ? 'btn-info' : 'btn-outline-info'} #{'disabled' if @match.started?}" %>
          </td>
          <td class="col-1">
            <%= link_to (number_with_precision(@match.win_tie_b) || '---'), set_type_match_path(@match, result: 'win_tie_b'), class: "btn btn-sm btn-block #{@answer.win_tie_b? ? 'btn-info' : 'btn-outline-info'} #{'disabled' if @match.started?}" %>
          </td>
          <td class="col-1">
            <%= link_to (number_with_precision(@match.not_tie) || '---'), set_type_match_path(@match, result: 'not_tie'), class: "btn btn-sm btn-block #{@answer.not_tie? ? 'btn-info' : 'btn-outline-info'} #{'disabled' if @match.started?}" %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <% if @match.started? %>
      <h3 class="m-2">
        <i class="fa fa-users"></i>
        Typy uczestników
      </h3>
      <div id="others-bets" class="table-responsive">
        <table class="table table-striped table-hover table-bordered text-center">
          <thead>
          <tr>
            <th class="col-4"></th>
            <th class="text-center">1</th>
            <th class="text-center">X</th>
            <th class="text-center">2</th>
            <th class="text-center">1X</th>
            <th class="text-center">X2</th>
            <th class="text-center">12</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <% if @answers[user.id].blank? %>
              <tr>
                <td class="text-nowrap"><%= user.username %></td>
                <td class="text-nowrap" colspan="6">brak typu</td>
              </tr>
            <% else %>
              <tr class="align-middle text-nowrap">
                <td><%= user.username %></td>
                <td class="col-1">
                  <% if @answers[user.id].win_a? %>
                    <a class="btn btn-info btn-sm btn-block disabled" href="#">1</a>
                  <% end %>
                </td>
                <td class="col-1">
                  <% if @answers[user.id].tie? %>
                    <a class="btn btn-info btn-sm btn-block disabled" href="#">X</a>
                  <% end %>
                </td>
                <td class="col-1">
                  <% if @answers[user.id].win_b? %>
                    <a class="btn btn-info btn-sm btn-block disabled" href="#">2</a>
                  <% end %>
                </td>
                <td class="col-1">
                  <% if @answers[user.id].win_tie_a? %>
                    <a class="btn btn-info btn-sm btn-block disabled" href="#">1X</a>
                  <% end %>
                </td>
                <td class="col-1">
                  <% if @answers[user.id].win_tie_b? %>
                    <a class="btn btn-info btn-sm btn-block disabled" href="#">X2</a>
                  <% end %>
                </td>
                <td class="col-1">
                  <% if @answers[user.id].not_tie? %>
                    <a class="btn btn-info btn-sm btn-block disabled" href="#">12</a>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>

  <div class="col-lg-4">
    <h3>
      <i class="fa fa-envelope"></i>
      Komentarze
    </h3>

    <div class="card bg-light">
      <div class="card-body">
        <%= form_for @comment do |form| %>
          <%= form.hidden_field :match_id %>
          <div class="input-group mb-3">
            <%= form.text_field :content, class: "form-control", placeholder: "Wyślij wiadomość ..." %>
            <div class="input-group-append">
              <%= form.submit 'Wyślij', class: "btn btn-warning" %>
            </div>
          </div>
        <% end %>

        <% if @match.comments.blank? %>
          <h3 class="card-title">brak komentarzy</h3>
        <% end %>

        <ul class="list-unstyled">
          <% @match.comments.includes(:user).each do |comment| %>
            <li class="media mb-3">
              <div class="media-body">
                <h6 class="mt-0 mb-1">
                  <%= display_username(comment.username) %>
                  <% unless comment.match.blank? %>
                    |
                    <%= link_to "#{(comment.match.team_a || '').first(3)}:#{(comment.match.team_b || '').first(3)}", match_path(comment.match) %>
                  <% end %>
                  <small class="text-muted float-right"><%= l(comment.created_at, format: :short) %></small>
                </h6>
                <p><%= comment.content %></p>
              </div>
            </li>
            <hr>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
