!!!Transitional
%html
  %head
    %title Typerek
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      .subContainer
        #box Typerek Ojro 2012
        %p co by się fajnie oglądało mecze :)

    #navigation
      %ul
        - if user_signed_in?
          %li{:id => "active"}= link_to "Informacje", home_path
          %li= link_to "Typy", "#"
          %li= link_to "Ranking", "#"
          %li= link_to "Wyloguj się", destroy_user_session_path, :method => 'delete'

    #container
      #primaryContent
        - unless notice.blank?
          #comments
            #notice= notice
        - unless alert.blank?
          #comments
            #alert= alert

        = yield

      .clear

    #footer
      %ul
        %li{:id => "copyright"} Kolo
        %li{:id => "links"}
          %ul
            %li= link_to "#", "Strona główna"
