<!DOCTYPE html>
<html>
<head>
  <title>Typerek</title>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_importmap_tags %>
  <%= csrf_meta_tags %>
</head>
<body role='document'>
<nav class='navbar navbar-expand-lg navbar-dark bg-primary mb-3'>
  <div class='container'>
    <div class='navbar-header'>
      <% if Current.user.present? %>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='.navbar-collapse' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
          <span class='navbar-toggler-icon'></span>
        </button>
      <% end %>
      <%= link_to 'Typerek 2024', root_path, class: 'navbar-brand' %>
    </div>
    <div class='collapse navbar-collapse'>
      <%= yield :menu %>
    </div>
  </div>
</nav>

<div class='container'>
  <% if !notice.blank? || !alert.blank? %>
    <div class='alert <%= !notice.blank? ? 'alert-success' : (!alert.blank? ? 'alert-danger' : '') %> alert-dismissible fade show' role='alert'>
      <%= notice || alert %>
      <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
        <span aria-hidden='true'>&times;</span>
      </button>
    </div>
  <% end %>

  <% if Current.user.present? %>
    <% Notification.display.each do |notification| %>
      <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <%= notification.content %>
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
    <% end %>
  <% end %>

  <%= yield %>
</div>

<div id='myModal' class='modal fade' tabindex='-1' role='dialog'>
  <div class='modal-dialog modal-lg' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'></h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'></div>
    </div>
  </div>
</div>
</body>
</html>
