!!!Transitional
%html
  %head
    %title Typerek
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      .subContainer
        #box Typerek Ojro 2012
        %p co by się fajnie oglądało mecze :)

    #navigation
      = yield :menu

    #container
      #primaryContent
        - unless notice.blank?
          #comments
            #notice= notice
        - unless alert.blank?
          #comments
            #alert= alert

        = yield

      .clear
