!!!Transitional
%html
  %head
    %title Typerek
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:role => "document"}
    .navbar.navbar-default{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle
            %span.sr-only Jakaś rzecz
          %a.navbar-brand{:href => "#{root_path}"} Typerek 2014
        = yield :menu

    .container
      - if notice || alert
        .bs-component
          .alert.alert-dismissable{:class => !notice.blank? ? "alert-success" : (!alert.blank? ? "alert-danger" : "")}
            %button.close{"data-dismiss" => "alert"} x
            = notice || alert

      - if user_signed_in? && false
        .bs-component
          .alert.alert-dismissable.alert-warning
            %strong UWAGA! 
            W meczach fazy pucharowej typujemy wyniki tylko do 90 minuty spotkania. Czyli typ "remis" jest jak najbardziej poprawny. Oznaczać to będzie że drużyny po zagraniu przepisowych 90 minut będą miały dogrywkę.

      = yield
