!!!Transitional
%html
  %head
    %title Typerek
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{role: 'document'}
    .navbar.navbar-default{role: 'navigation'}
      .container
        .navbar-header
          - if signed_in?
            %button.navbar-toggle.collapsed{'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse'}
              %span.sr-only Nawigacja
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          = link_to 'Typerek 2020', root_path, class: 'navbar-brand'
        = yield :menu

    .container
      - unless notice.blank? && alert.blank?
        .bs-component
          .alert.alert-dismissable{class: !notice.blank? ? 'alert-success' : (!alert.blank? ? 'alert-danger' : '')}
            = notice || alert

      - if signed_in?
        .bs-component
          - Notification.display.each do |notification|
            .alert.alert-dismissable.alert-warning= notification.content

      = yield

#myModal.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span{'aria-hidden' => true}
            &times;
          %span.sr-only Zamknij
        %h4.modal-title
      .modal-body
