!!!Transitional
%html
  %head
    %title Typerek
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      .subContainer
        #box Typerek Ojro 2012
        %p co by się fajnie oglądało mecze :)

    #navigation
      = yield :menu

    #container
      #primaryContent
        - unless notice.blank?
          #comments
            #notice= notice
        - unless alert.blank?
          #comments
            #alert= alert

        - if user_signed_in?
          #comments
            #alert UWAGA! W meczach fazy pucharowej typujemy wyniki tylko do 90 minuty spotkania. Czyli typ "remis" jest jak najbardziej poprawny. Oznaczać to będzie że drużyny po zagraniu przepisowych 90 minut będą miały dogrywkę.

        = yield

      .clear
