!!!Transitional
%html
  %head
    %title Typerek
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:role => "document"}
    .navbar.navbar-default{:role => "navigation"}
      .container
        .navbar-header
          - if user_signed_in?
            %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
              %span.sr-only Nawigacja
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          %a.navbar-brand{:href => "#{root_path}"} Typerek 2014
        = yield :menu

    .container
      - unless notice.blank? && alert.blank?
        .bs-component
          .alert.alert-dismissable{:class => !notice.blank? ? "alert-success" : (!alert.blank? ? "alert-danger" : "")}
            = notice || alert

      - if user_signed_in? && false
        .bs-component
          .alert.alert-dismissable.alert-warning
            %strong UWAGA! 
            W meczach fazy pucharowej typujemy wyniki tylko do 90 minuty spotkania. Czyli typ "remis" jest jak najbardziej poprawny. Oznaczać to będzie że drużyny po zagraniu przepisowych 90 minut będą miały dogrywkę.

      = yield
